MUSIC_PROVIDER=itunes
ITUNES_URL=https://itunes.apple.com
MUSICBRAINZ_URL=https://musicbrainz.org/ws/2
APP_USER_AGENT=ReveilMusical/1.0 (prenom.nom@ecole.fr)
HTTP_TIMEOUT=10.0
NOTIFICATION_FALLBACK_ORDER=push,email,sms
